#container {
    position: relative;
    text-align: center;
}

#webgl-context {
    border: none;
}

#menu {
    position: absolute;
    left: 550px;
    top: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    padding: 1em;
    visibility: hidden;
}