#container {
    position: relative;
    text-align: center;
}

#webgl-context {
    border: none;
}

#hud {
    position: absolute;
    left: 10px;
    bottom: -30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    padding: 1em;
}